.snakemake
reports/iucr.bst
reports/iucr.cls
reports/iucr.layout
reports/iucrit.bst
reports/paper.*
reports/preprint.aux
reports/preprint.bbl
reports/preprint.blg
reports/preprint.log
reports/preprint.out
reports/preprintNotes.bib
cover_letter/cover_letter.aux
cover_letter/cover_letter.bbl
cover_letter/cover_letter.blg
cover_letter/cover_letter.log
cover_letter/cover_letter.out
cover_letter/cover_letterNotes.bib
cover_letter/diamond.pdf
cover_letter/logo.png
**/.DS_Store
